##  Shortcuts for Jupyter Notebook

ESC + M = Markdown (convert cell into mark down)
ESC + R = Raw      (convert cell into raw)
ESC + Y = Code      (convert cell into code)
ESC +A (to create cell above the present cell)
ESC +DD (to delete the cell on which you are present)
Shift + Enter (to run the cell and go to next cell)
CTRL + Enter (to run the cell and stay in same cell)
CTR+ Shift+ H(to get all jupyter noteboook shortcuts

# Variables

In [16]:
name = "Junaid Abbas" ## String##
age = 29              ## Integer##
weight= 58.6          ## Float##
present= True         ##Bool##

print(name)

print(age)

print(weight)
print(present)

Junaid Abbas
29
58.6
True

In [19]:
#additoinal stuff
# 1. Type() to give you the type of variables
#2.  id() to give you the address of variables
print(type(name))
print(type(age))
print(type(weight))
print(type(present))
id(name)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

2506579997232

# Operators

In [22]:
34+345

379

In [23]:

5//2

2

In [24]:
2**3 #Power 2*2*2

8

# Expressions

#### -->  PEMDAS
Paranthesis,
Exponential, 
Multiplicatio, 
Division, 
Addition, 
Subtraction

= (2-3)-(4-3)-4/5
= -1-1-0.8
= -2.8

= (((4+5)**2)*4)/5+(3-2)
= ((9**2)*4)/5+1 Solve nested P
= (81*4)/5+1
= 325/5+1
= 64.8+1
= 65.8

# Advance Operators

= +=
= -=
= /=
= *=
= >
= <
= >=
= <=
= != #not equal to
= (initializing Operator)

## Concatenating Text Strings

In [33]:
f_name= "Junaid"
l_name= "Hassan"

full_name= f_name + " "+ l_name #using operator
print(full_name)

 Junaid Hassan

In [34]:
full_name = f" {f_name} {l_name}"
print(full_name)            #using fstring

 Junaid Hassan

In [5]:
full_name = "{0} {1}".format(f_name,l_name) #using.format
print(full_name)

Junaid Hassan

## Q: create a string using all formatting methods that print your first name and last name with some extra added sentence that describe you

In [26]:
f_name= "Junaid"  #using 
l_name= "Hassan"
m_name- "Abbas"
""
full_name = "My Name is " + f_name + " "+ m_name+" " +  l_name + " & I am learning Cloud Data Engineering from SMIT"

print(full_name)

NameError: name 'm_name' is not defined

In [11]:
f_name= "Junaid"
l_name= "Hassan"
full_name = " My name is "f" {f_name} {l_name}" " " "I am learning Cloud Data Engineering from SMIT"
print(full_name)

 My name is  Junaid Hassan I am learning Cloud Data Engineering from SMIT

In [14]:
full_name = "My name is ""{0} {1}" " and i am learning Cloud Data Engineering from SMIT".format(f_name,l_name) #using.format


print(full_name)

My name is Junaid Hassan and i am learning Cloud Data Engineering from SMIT