In [8]:
def add_num (name, num1, num2=4):   #Function part 1 (paratmeerts+ default Parameters)
    sum= num1+num2
add_num(2,4)

In [22]:
name=input("Enter Name:")
num1= int(input("Enter num1:"))
num2= int(input("Enter num1:"))

Enter Name: junaid
Enter num1: 2
Enter num1: 4

In [23]:
add_num(name=name, num1=num1, num2=num2)

In [26]:
#** >> dict
#* >> list
def add_num (name, *nums):   #Function part 1 (Unkowns num of arguments)
    print(name)
    print(nums)

In [27]:
add_num("Qasim",4,5,6,3,4,56)

Qasim
(4, 5, 6, 3, 4, 56)

In [28]:
#Task: Give me the sum of the values passed as unknows args to function ardfs
#Task: Give me the sum of values passes as unknoqs args to function as kwargs

In [40]:
def sum_unknown_args(*args):
  total = 0
  for num in args:         #method 1 using for loop
    total += num
  return total

result = sum_unknown_args(1, 2, 3)
print(f"Sum of (1, 2, 3): {result}")

Sum of (1, 2, 3): 6

In [37]:
sum_unknown_args(4,6,6,7,8,6)

37

In [48]:
def sum_unknown_args(*args):   #method 2 using sum function
    print(f"{sum(*args)}")
sum_unknown_args(4,5)

TypeError: 'int' object is not iterable

In [54]:
#Task 2
def sum_unknown_args(name,**nums):
    total = 0
    for num in nums.values():        
        total += num
    print(f"{name}: {result}")
sum_unknown_args("Hyabdo", num1=2,num3=4,num4=6)

Hyabdo: 6

In [58]:
#Task 2 Method 2
def sum_unknown_args(name,**nums):
    print(f"{name}: {sum(nums.values())}")
    
sum_unknown_args("Hyabdo", num1=2,num3=4,num4=6)

Hyabdo: 12

## Function with in Functions

-`Recursion AKA function with in function
- Factorial: eg 7: 7x6x5x4x3x2x1
-  Factorial of 0 or 1 == 1

In [63]:
def factorial (n):
    if(n==0 or n==1):
        return 1
    else:
        return n*factorial(n-1)
print(factorial(5))

120

# While Loops

In [ ]:
while <condition>:
    <body>    
# Code block to be executed repeatedly
# as long as the 'condition' is True
# Indentation is crucial here

In [ ]:
#Steps: Ask a number input.
#Initialize the result to 1.
#Start a loop where you multiply the result by the target number.
#Reduce one from the target number in each iteration.
#End the loop once the target number reaches 1.
    
def factorial(n):
    num = 1
    while n >= 1:
        num *=  n
        n -= 1
    return num

In [ ]:
f = factorial(4)
f

In [ ]:
user_input = "Junaid"
while (user_input != "quit"):
    print(user_input)
    user_input = input("Enter input value:")

### Lambda Function
- Without Name
- Never been called before or after
- Syntax: lambda argument= expresson

In [67]:
(lambda x,y: x+y)(5,5)

10

In [79]:
#lambda <parameters>: <expression> (true if else false)

criteria = lambda marks: "Pass" if marks >50 else "Fail"

In [80]:
criteria(2)

'Fail'