## List

A Python list is a built-in, ordered, and mutable collection data type used to store multiple items in a single variable. Lists are defined by enclosing comma-separated items within square brackets []

In [3]:
cities= ["Karachi","Lahore","Islamabad","Hyderabad"]

In [6]:
print(type(cities),id(cities))

<class 'list'> 1889260250752

In [11]:
cities.append("Peshawar")

In [8]:
cities

['Karachi', 'Lahore', 'Islamabad', 'Hyderabad', 'Peshawar']

In [12]:
cities.count("Karachi")

1

In [30]:
cities.extend(["Sukker",])

In [32]:
cities.insert(1,"Multan")

In [34]:
cities

[' Faisalabad',
 'Multan',
 ' Faisalabad',
 'Sukker',
 'a',
 'b',
 'a',
 'm',
 'a',
 'l',
 's',
 'I',
 'Peshawar',
 'Peshawar',
 'Peshawar',
 'Peshawar',
 'Hyderabad',
 'Lahore',
 'Multan',
 'Karachi',
 'Sukker']

In [27]:
cities.pop(1) #Renove and  return item at index (Default last)

'Sukker'

In [28]:
cities.remove("Islamabad") # Remove first occurence of value

In [29]:
cities

[' Faisalabad',
 ' Faisalabad',
 'Sukker',
 'a',
 'b',
 'a',
 'm',
 'a',
 'l',
 's',
 'I',
 'Peshawar',
 'Peshawar',
 'Peshawar',
 'Peshawar',
 'Hyderabad',
 'Lahore',
 'Multan',
 'Karachi']

In [36]:
cities.reverse()

In [38]:
cities

[' Faisalabad',
 'Multan',
 ' Faisalabad',
 'Sukker',
 'a',
 'b',
 'a',
 'm',
 'a',
 'l',
 's',
 'I',
 'Peshawar',
 'Peshawar',
 'Peshawar',
 'Peshawar',
 'Hyderabad',
 'Lahore',
 'Multan',
 'Karachi',
 'Sukker']

In [ ]:
cities.sort()

In [39]:
cities.clear() # remove all items from list

In [40]:
cities

[]

## Shallow/ Deep Copy

In [ ]:
# keep values at different addres as shown above
# changinh values in one collectio does not effect other list

In [41]:
cities= ["Karachi","Lahore","Islamabad","Hyderabad"]

In [43]:
new_cities= cities.copy() # return a shallow copy of list

In [45]:
print(type(cities),id(new_cities))

<class 'list'> 1889277570112

In [46]:
print(type(cities),id(cities))

<class 'list'> 1889277172864

In [49]:
new_cities.append(" Larkana")

In [50]:
new_cities

['Karachi', 'Lahore', 'Islamabad', 'Hyderabad', ' Larkana', ' Larkana']

In [51]:
cities

['Karachi', 'Lahore', 'Islamabad', 'Hyderabad']

In [52]:
#Deep Copy Practice

In [56]:
# Task
#1. Implemented Deep Copy concept on LIST 
#2. Adding values at different indexwithout . insert()

In [60]:
cities_new = cities

In [61]:
cities_new, cities

(['Karachi', 'Lahore', ['Islamabad', 'Hyderabad']],
 ['Karachi', 'Lahore', ['Islamabad', 'Hyderabad']])

## Slicing

In [62]:
cities

['Karachi', 'Lahore', ['Islamabad', 'Hyderabad']]

In [67]:
cities[:2] # nte first inclide and last not included

['Karachi', 'Lahore']

In [68]:
cities[2:4]

[['Islamabad', 'Hyderabad']]

In [69]:
cities[::-1] # reverse the list without method

[['Islamabad', 'Hyderabad'], 'Lahore', 'Karachi']

# TASK
### create a student list of names and apply all methods that we learn today

In [88]:
students = ["Junaid","Ali","Bazil","Bilal","Abbas",]

In [90]:
students.append(" Samra") #Append object to the end of the list.

In [93]:
students

['Junaid', 'Ali', 'Bazil', 'Bilal', 'Abbas', ' Samra']

In [96]:
students.count("Bazil") #method counts how many times a specified value appears in a list

1

In [98]:
students.extend(["Danish"]) #method adds all the items of an iterable

In [99]:
students

['Junaid', 'Ali', 'Bazil', 'Bilal', 'Abbas', ' Samra', 'Danish']

In [100]:
students.insert(1,"Honey") #adds an element to a list at a specified index.

In [101]:
students

['Junaid', 'Honey', 'Ali', 'Bazil', 'Bilal', 'Abbas', ' Samra', 'Danish']

students.pop(1) #Renove and  return item at index (Default last)

In [114]:
del students[4]

In [115]:
students

[' Samra', 'Abbas', 'Ali', 'Bilal', 'Junaid']

In [102]:
students.remove("Danish") # Remove first occurence of value

In [103]:
students

['Junaid', 'Honey', 'Ali', 'Bazil', 'Bilal', 'Abbas', ' Samra']

In [104]:
students.reverse() #reverses the order of elements in a list in-place

In [107]:
students.sort()

In [108]:
students

[' Samra', 'Abbas', 'Ali', 'Bazil', 'Bilal', 'Honey', 'Junaid']

students.clear() # remove all items from list

students.copy # Return a shallow copy of list

In [109]:
students[2]

'Ali'

In [111]:
bio_data = ['Junaud', 234,5.6,True]

### Tuples == immutable

A tuple is an ordered, immutable collection of elements in Python. Tuples are defined with parentheses () or, in some cases, with no parentheses at all.

In [117]:
bio_data = ['Junaud', 234,5.6,True]

In [119]:
bio_data.append('Junaud')

In [120]:
bio_data

['Junaud', 234, 5.6, True, 'Junaud', 'Junaud']

In [124]:
data= tuple(bio_data)

In [125]:
data

('Junaud', 234, 5.6, True, 'Junaud', 'Junaud')

In [130]:
data.count("Junaud") # name kitni dfa arha hai

3

In [132]:
data.index(5.6)

2

## Sets

A set is an unordered collection of unique, immutable elements in Python. Sets are defined with curly braces {} or by using the set() constructor.

In [133]:
name= ['Junaid','aiwithqasim','Junaid']

In [134]:
name_set = set(name)

In [135]:
name_set

{'Junaid', 'aiwithqasim'}

In [137]:
set_a = {'a','b'}
set_b= {'c','d'}
universal_set = {'a','b','c','d'}

In [138]:
universal_set.intersection(set_b)

{'c', 'd'}

In [139]:
universal_set.update('e') # NOTE does not support different data type

In [140]:
universal_set.difference(set_a) # subtract

{'c', 'd', 'e'}

In [141]:
universal_set.discard('e') # Remove E

In [142]:
universal_set

{'a', 'b', 'c', 'd'}

In [143]:
universal_set.union(set_a)

{'a', 'b', 'c', 'd'}

### Task:
- Create a student 'Tuple' of names and apply all methods that we learn today
- Create a student 'set' of names and apply all methods that we learn today

In [144]:
students = ["Junaid","Ali","Bazil","Bilal","Abbas",]
std_dt = tuple(students)

In [145]:
std_dt

('Junaid', 'Ali', 'Bazil', 'Bilal', 'Abbas')

In [147]:
std_dt.count("Ali")

1

In [149]:
std_dt.index("Junaid")

0

In [154]:
set_a = {1,2}
set_b = {3,4}
set_c = {1,2,3,4,5,6,7,8,9,10}

In [155]:
set_c.intersection(set_b)

{3, 4}

In [159]:
set_c.add(11) #Add an element to a set.

In [160]:
set_c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [162]:
set_c.intersection_update(set_b) #Update the set, keeping only elements found in it and all others.

In [163]:
set_c

{3, 4}

In [164]:
set_c.issubset(set_b)  #Report whether another set contains this set.

True

In [165]:
new_set=set_c.copy() # Return a shallow copy of set

In [166]:
new_set

{3, 4}

In [167]:
new_set= set_c

In [168]:
new_set, set_c

({3, 4}, {3, 4})

In [172]:
new_set.issuperset(set_b) #Report whether this set contains another set

True

In [173]:
new_set.symmetric_difference(set_a) #elements unique to each set, excluding common ones

{1, 2, 3, 4}

In [178]:
set_b

{3, 4}

In [182]:
new_set.pop() #Remove and return an arbitrary set element.

3

## Value by Reference

In [1]:
a = [1,2,3,4]
a[0] =23
a

[23, 2, 3, 4]

### Shallow and Deep Copy

In [ ]:
z = ["Karachi",["Lahore"], "Quetta"]
e = z.[:]